@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

:root {
    --color-purple: #49159b;
    --color-blue: #4799f1;
    --color-lightBg: #f6f7f8;
    --text-dark: #384141;
    --text-light: #b3b3b3;
    --color-gradient-start: #4799f1;
    --color-gradient-stop: #49159b;
}

body {
    font-family: 'Cinzel', serif;
    background-color: #fff;
    overflow: hidden;
}


/*section{
	margin-bottom: 5rem !important;
	margin-top: 10rem !important;
  }*/

.cursor-pointer {
    cursor: pointer !important;
}

.color-blue {
    color: var(--color-blue) !important;
}

.bg-blue {
    background-color: var(--color-blue) !important;
}

.color-gray {
    color: var(--gray);
}

.color-light {
    color: var(--text-light);
}

.color-dark {
    color: var(--text-dark) !important;
}

.color-purple {
    color: var(--color-purple);
}

.home-bg {
    background: url('./primary-bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.menu {
    cursor: pointer !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9990 !important;
    top: 0;
    left: 0;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--color-gradient-start) 0%, var(--color-gradient-stop) 31%) !important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom: 0;
    overflow: hidden;
}

.sidenav a {
    padding: 8px 8px 15px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
    border-style: solid;
    border-image: linear-gradient(to left, rgba(255, 255, 255, 0.001) 1%, rgba(61, 222, 237, 0.2) 50%, rgba(255, 255, 255, 0.001) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;
}

.sidenav a:first-child,
.sidenav a:nth-child(2),
.sidenav a:nth-child(3),
.sidenav a:last-child {
    border: none !important;
    border-image: none !important;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 60px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav i {
    font-weight: 100 !important;
}

.user-profile {
    height: 75px;
    width: 75px;
    border: 6px solid #fff;
    background-color: #fff;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media (max-width: 768px) and (max-width: 979px) {
    .m-bg {
        text-align: center!important;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .sidenav {
        overflow-y: scroll;
    }
    .modal-lg {
        max-width: 100% !important;
    }
    .box-part {
        border-radius: 10px;
        padding: 10px 0 !important;
        margin: 20px 0px;
        width: 120px !important;
    }
    .box-part h4 {
        font-size: 15px !important;
    }
    .square h5 {
        font-size: 14px !important;
    }
    /*leaderboard*/
    .topperSquare {
        border-radius: 20px;
        width: 70px !important;
        height: 70px !important;
        box-shadow: 1px .4rem 1rem rgba(0, 0, 0, 0.1);
    }
    .topperInner {
        left: 3px;
        top: 5px;
        border-radius: 15px;
        width: 60px !important;
        height: 60px !important;
    }
    .topperInner img {
        height: 60px;
        width: auto;
    }
}

.zIndex-1 {
    z-index: 0 !important;
}

.z-Index-2 {
    z-index: 1 !important;
}

.gradientBtn {
    font-weight: bolder;
    background-color: #fff;
    border-radius: 50px !important;
    border: none !important;
    color: #fff !important;
    padding: 8px 40px 8px 40px;
    background-image: linear-gradient(to right, var(--color-gradient-start) 0%, var(--color-gradient-stop) 50%) !important;
    animation: 1s ease-in;
}

.gradientBtn:hover {
    background-color: #fff;
    border-radius: 50px !important;
    border: none !important;
    color: #fff !important;
    padding: 8px 40px 8px 40px;
    background-image: linear-gradient(to right, var(--color-gradient-stop) 0%, var(--color-gradient-start) 50%) !important;
}


/*login Modal Customization*/

.modal-lg {
    max-width: 70%;
}

.loginSquare {
    transform: rotate(45deg);
    border-radius: 20px;
    background: var(--color-purple);
    padding: 20px;
    width: 100px;
    height: 100px;
    display: block;
    line-height: 50px;
    box-shadow: 1px .4rem 1rem rgba(0, 0, 0, 0.5);
}

.loginSquare p {
    transform: rotate(-45deg);
    font-size: 19px;
    /*width: 100px;*/
}

.rounded-modal {
    border-radius: 1.5rem !important;
}

.textfield-rounded {
    border-radius: 1.2rem !important;
    border: none !important;
}

.line-height-20 {
    line-height: 20px;
}


/*leaderboard*/

.square {
    float: left;
    position: relative;
    width: 30%;
    /*padding-bottom : 30%;*/
    margin: 1.66%;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* you change this to "contain" if you don't want the images to be cropped */
}

.topperSquare {
    transform: rotate(45deg);
    border-radius: 20px;
    background: #fff;
    width: 100px;
    height: 100px;
    display: block;
    box-shadow: 1px .4rem 1rem rgba(0, 0, 0, 0.1);
}

.topperInner {
    position: relative;
    left: 3px;
    top: 5px;
    border-radius: 15px;
    width: 90px;
    height: 90px;
    display: block;
}

.bg-pink {
    background-color: #f68cb2;
}

.bg-purple {
    background-color: #c0b2da;
}

.bg-orange {
    background-color: #f4b350;
}

.bg-green {
    background-color: #a3d167;
}

.bg-teal {
    background-color: #84d1c9;
}

.bg-red {
    background-color: #ef606a;
}

.ranker-profile {
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    padding: 0 2px 2px 0;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.leaderboard .table {
    border-collapse: separate;
    border-spacing: 0 20px;
}

.leaderboard th,
td {
    border-top: none !important;
    text-align: center;
    vertical-align: middle !important;
}

.ml-n4-1 {
    margin-left: -1.8rem !important;
}

.ml-n4-2 {
    margin-left: -2.5rem !important;
}

.ml-n6 {
    margin-left: -4rem !important;
}


/*login social circular button*/

.social-login {
    border: none !important;
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-45 {
    transform: rotate(-45deg);
}

.rotate-n0 {
    transform: rotate(0deg);
}

.google-icon {
    color: #ea4335 !important;
}

.fb-icon {
    color: #105782 !important;
}

input {
    text-align: center;
}


/*category page*/

.light-bg {
    background-color: #eeeff3!important;
}


/*.category-box{
  float:left;
  width: 16%;
  padding-bottom: 16%; 
  margin:1.66%;
  height: 190px;
  background-color: #f7f7f7;
  border-radius: 15px;
  }*/

.box-part {
    background-color: #f7f7f7;
    border-radius: 15px;
    padding: 30px 0;
    margin: 20px 0;
    width: 180px;
    cursor: pointer
}

.box-part h4 {
    font-size: 18px;
}

.col-centered {
    float: none !important;
    margin: 0 auto !important;
}

.box-part img:hover {
    animation: paused !important;
}


/* card selection */

.card-input-element:checked+.box-part::after {
    content: '\f00c';
    color: #49159b;
    font-family: 'FontAwesome';
    font-size: 22px;
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    -webkit-animation-name: fadeInCheckbox;
    animation-name: fadeInCheckbox;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fadeInCheckbox {
    from {
        opacity: 0;
        -webkit-transform: rotateZ(-20deg);
    }
    to {
        opacity: 1;
        -webkit-transform: rotateZ(0deg);
    }
}

@keyframes fadeInCheckbox {
    from {
        opacity: 0;
        transform: rotateZ(-20deg);
    }
    to {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}


/*sub category slider*/

.circle-shadow {
    height: 80px;
    width: 80px;
    padding: 15px;
    box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
}

.circle-shadow:hover {
    transform: scale(1.07);
}


/* Ripple effect */

.ripple {
    border-radius: 50%;
    animation: ripple 3s linear infinite
}

.ripple::before,
.ripple::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    animation: ripple 3s linear infinite 1s
}

.ripple::after {
    animation: ripple 3s linear infinite 2s
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 .7rem rgba(255, 255, 255, 0.2)
    }
    100% {
        box-shadow: 0 0 0 8rem rgba(255, 255, 255, 0)
    }
}


/*score history*/

.diamond {
    transform: rotate(45deg);
    border-radius: 8px;
    padding: 16px;
    width: 20px;
    height: 20px;
    display: block;
}

.diamond h6 {
    transform: rotate(-45deg);
    line-height: 5px;
    position: relative;
    right: 4px;
}

.score-bg {
    background-color: rgba(71, 153, 241, 0.1);
}


/*profile photo change*/

#imageUpload {
    display: none;
}

#profileImage {
    cursor: pointer;
}
